<!--o meu output vem diretamente na tag do componente filho-->
<app-transformar-moeda (infoMoedas)="infoMoedas($event)"></app-transformar-moeda>

<main *ngIf="moedaBruta?.conversao">

  <span>
    <h1>Informações de moedas</h1>
  </span>
  <div >
    <div>
      <p><span>Moeda: </span>{{ moedaBruta?.conversao }}</p>
      <p><span>Data: </span>{{ moedaBruta?.data }}</p>
      <p><span>Maior Valor: </span>{{ moedaBruta?.maiorValor }}</p>
      <p><span>Menor Valor: </span>{{ moedaBruta?.menorValor }}</p>
    </div>
    <div>
      <p><span>Moeda:</span> {{ moedaConv?.conversao }}</p>
      <p><span>Data: </span>{{ moedaConv?.data }}</p>
      <p><span>Maior Valor: </span>{{ moedaConv?.maiorValor }}</p>
      <p><span>Menor Valor: </span>{{ moedaConv?.menorValor }}</p>
    </div>
  </div>
  <ng-template >
    <p><span>Moeda:</span> {{ moedaBruta?.conversao }}</p>
    <p><span>Data: </span>{{ moedaBruta?.data }}</p>
    <p><span>Maior Valor:</span> {{ moedaBruta?.maiorValor }}</p>
    <p><span>Menor Valor:</span> {{ moedaBruta?.menorValor }}</p>
  </ng-template>
</main>
