main{
  text-align: center;
  width: 75.0rem;
  margin: 0.2rem auto;
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
}

main > div {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 0rem auto;
  width: 60.0rem;
}

div p span {
  color: rgb(92, 92, 92);
  font-weight: 900;
}

div > p:nth-child(1){
  margin-top: 1.5rem;
}
