<!--o meu output vem diretamente na tag do componente filho-->
<app-transformar-moeda (infoMoedas)="infoMoedas($event)"></app-transformar-moeda>

<main *ngIf="moedaBruta?.conversao">

  <span>
    <h1>Informações de moedas</h1>
  </span>
  <div >
    <div>
      <p>Moeda: {{ moedaBruta?.conversao }}</p>
      <p>Data: {{ moedaBruta?.data }}</p>
      <p>Maior Valor:{{ moedaBruta?.maiorValor }}</p>
      <p>Menor: Valor{{ moedaBruta?.menorValor }}</p>
    </div>
    <div>
      <p>Moeda: {{ moedaConv?.conversao }}</p>
      <p>Data: {{ moedaConv?.data }}</p>
      <p>Maior Valor: {{ moedaConv?.maiorValor }}</p>
      <p>Menor Valor: {{ moedaConv?.menorValor }}</p>
    </div>
  </div>
  <ng-template >
    <p>Moeda: {{ moedaBruta?.conversao }}</p>
    <p>Data: {{ moedaBruta?.data }}</p>
    <p>Maior Valor:{{ moedaBruta?.maiorValor }}</p>
    <p>Menor: Valor{{ moedaBruta?.menorValor }}</p>
  </ng-template>
</main>
