<h1>Conversor de Moeda</h1>
<main class="conteudoMain">
<div class="moedaBruta">

    <select #moedaBruta (change)="moeda(moedaBruta.value)">
        <option value=" "></option>
        <option value="USD">Dólar Norte Americano</option>
        <option value="EUR">Euro</option>
    </select>
    <div *ngIf="tipoMoeda != ''; else elseBlock">
        <input #moeda type="text" value="{{ valor }}" (keyup)="recebeMoeda(moeda.value)">
    </div>
    <ng-template #elseBlock>
        <input type="text" readonly >
    </ng-template>
</div>
</main>

