<app-moeda [valorRecebido]="valor" (moedaBruta)="converterMoeda($event)"></app-moeda>
<div class="moedaTransformada">
    
    <select #moedaTransformada (change)="verificaTipoMoeda(moedaTransformada.value)">
        <option value=""></option>
        <option value="USD">Dólar Norte Americano</option>
        <option value="EUR">Euro</option>
    </select>
    <div *ngIf="tipoMoedaTransformada != ''; else elseBlock">
        <input #valorTeste type="text" value="{{ valorConvertido }}"  (keyup)="enviaMoeda(valorTeste.value)">
    </div>
    <ng-template #elseBlock>
        <input type="text" readonly>
    </ng-template>
</div>

