<app-moeda (moedaBruta)="converterMoeda($event)"></app-moeda>
<div class="moedaTransformada">
    
    <select #moedaTransformada (change)="verificaTipoMoeda(moedaTransformada.value)">
        <option value=""></option>
        <option value="BRL">Real Brasileiro</option>
        <option value="USD">Dólar Norte Americano</option>
        <option value="EUR">Euro</option>
    </select>
    <div *ngIf="tipoMoeda != undefined; else elseBlock">
        <input type="text" value="{{ valorConvertido }}">
    </div>
    <ng-template #elseBlock>
        <input type="text" value="" readonly>
    </ng-template>
</div>

